@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Pups.Frontend.Pages.Shared
@model dynamic

@{
    ViewBag.Title = "Messenger";
    Layout = "_Layout";
}

<h2>Messenger</h2>
<!--component type="typeof(ChatComponent)" render-mode="ServerPrerendered"/-->