@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.AspNetCore.Mvc.Rendering
@inject NavigationManager NavigationManager
@implements IAsyncDisposable

<div class="row">
    <nav class="col-md-3">
        <ul class="chat-selector" style="list-style-type: none;">
            @for (int i = 0; i < 10; ++i)
            {
                string message = $"Message{i}";
                string username = $"Username{i}"; 
                <li @onclick="() => SelectChat(i.ToString())"><ChatSelector Message=@message Username=@username ></ChatSelector></li>   
            }
        </ul>
    </nav>
    <div class="col-md-9">
        @if (chatSelect)
        {
            <ChatWindow Url=@selectChatUrl></ChatWindow>
        }
        else
        {
            <canvas x="0" y="0" rx="5" ry="5" width="1000" height="800" style="fill:red;stroke:black;stroke-width:5;opacity:0.5;border:1px solid #000000;">
            </canvas>
        }
    </div>
</div>



@code {
    private HubConnection? _hubConnection;
    private List<string> _messages = new List<string>();
    private string? _userInput;
    private string? _groupInput;
    private string? _messageInput;
    private bool IsConnected => _hubConnection?.State == HubConnectionState.Connected;
    private bool chatSelect = false;
    private string? selectChatUrl = null;
    protected override async Task OnInitializedAsync()
    {
        _hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/chathub"))
            .Build();

        _hubConnection.On<string, string>("ReceiveMessage", (user, message) =>
        {
            var encodedMsg = $"{user}: {message}";
            _messages.Add(encodedMsg);
            InvokeAsync(StateHasChanged);
        });
        _hubConnection.On<string, string>("ReceiveGroupMessage", (user, message) =>
        {
            var encodedMsg = $"group {user}: {message}";
            _messages.Add(encodedMsg);
            InvokeAsync(StateHasChanged);
        });
        await _hubConnection.StartAsync();
    }

    private async Task Send()
    {
        if (_hubConnection is not null)
        {
            if(_groupInput is not null)
                await _hubConnection.SendAsync("SendGroupMessage", _userInput, _groupInput, _messageInput);
            else
                await _hubConnection.SendAsync("SendMessage", _userInput, _messageInput);
        }
    }
    
    public async ValueTask DisposeAsync()
    {
        if (_hubConnection is not null)
        {
            await _hubConnection.DisposeAsync();
        }
    }

    public async Task SelectChat(string url)
    {
        chatSelect = true;
        selectChatUrl = url;
    }
}